<footer class="footer">
    <div class="container ">
      <div class="row  pt-4">
        <div class="col-md-3 col-6 mb-3 mt-3">  
          <ul class="list-unstyled ">
            <li>
              <a [routerLink]="['/']" class="text-white">Inicio</a>
            </li>
            <li>
              <a [routerLink]="['/proyectos/index']" class="text-white">Proyectos</a>
            </li>
            <li>
              <a [routerLink]="['/sobremi']" class="text-white">Portafolio</a>
            </li>
            <li>
              <a [routerLink]="['/contacto']" class="text-white">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-6 mb-3 mt-3">
        </div>  
        <div class="col-md-3 col-6 mb-3 mt-3">
          <ul class="list-unstyled text-left">
            <li>
              <a href="" class="text-white">Horarios</a>
            </li>
            <li>
              <a href="#!" class="text-white">¿Hay un problema?</a>
            </li>
            <li>
              <a href="" class="text-white">Política de Privacidad</a>
            </li>
            <li>
              <a href="" class="text-white">FAQ</a>
              <i class="mdi mdi-chevron-right me-1"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-6 text-left mb-5 mt-3">
          <a href="https://www.facebook.com/jhordan.bricenocaipo" target="_blank"
            role="button"><i class="fab fa-facebook-f red-social main-color" ></i></a>
          <a href="" target="_blank"
            role="button"><i class="fab fa-twitter red-social2 main-color" ></i></a>
          <a href="" target="_blank" 
            role="button"><i class="fas fa-at red-social2 main-color"></i></a>
          <a href="https://api.whatsapp.com/send?phone=51914993098" target="_blank"
            role="button"><i class="fab fa-whatsapp red-social2 main-color" ></i></a>
          <a href="https://github.com/JhordanBricenio" target="_blank"
            role="button"><i class="fab fa-github red-social2 main-color" ></i></a>
        </div>
      </div>
      <div class="lead footer-copyright text-center py-3 mt-3  text-white"><span class="text-white">© </span><span id="year" class="text-white"></span>
        <span class="text-white">Copyright: </span>
        <a>Jhordan Briceño - <span>Desarrollador Web</span></a>
      </div>
    </div>
    
  </footer>