<div class="col-6 float-right">
  <div class="card-footer">
      <nav aria-label="Page navigation example">
        <ul  class="pagination">
          <li class="page-item" >
            <a href="#" class="page-link" >&laquo;</a>
          </li>
    
          <li>
            <a class="page-link" >
              Primera   
            </a>
        </li>
    
          <li class="page-item">
            <span class="page-link" >1
             </span>
            <a  class="page-link" >2</a>
          </li>
    
          <li >
            <a class="page-link" >
              Última
            </a>
          </li>
    
          <li class="page-item" >
            <a class="page-link">
              &raquo;
            </a>
          </li>
        </ul>
      </nav>
  </div>
</div>
