<div class="container ">
    
    <!--Crear una fila con 4 columnas-->
    <div class="row px-5 mt-5">
        <h1 class="text-center mb-5">CONTENIDO</h1>
        <!--Columna 1-->
        <div class=" col-lg-3 text-center mb-5">
            <img src="assets/img/desarrollo.jpg" class="card-img-top mb-3" alt="...">
            <a [routerLink]="['/services']" class="title">Servicios</a>
            <p class=" card-text mt-2">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
            
        </div>
        <!--Columna 2-->
        <div class=" col-lg-3 text-center mb-5">
            <img src="assets/img/proyecto.jpg" class="card-img-top mb-3" alt="...">
            <a [routerLink]="['/proyectos']" class="title">Proyectos</a>
            <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                
        </div>
        <!--Columna 3-->
        <div class=" col-lg-3 text-center mb-5">
            <img src="assets/img/student.jpg" class="card-img-top mb-3" alt="...">
            <a [routerLink]="['/services']" class="title ">Asesorías</a>
            <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                
        </div>
        <div class=" col-lg-3 text-center mb-5">
            <img src="assets/img/blog.jpg" class="card-img-top mb-3" alt="...">
            <a [routerLink]="['/blog']" class="title">Blog</a>
            <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
                
        </div>
    </div>

</div>
