<div id="particles-js">
    <div class="particles">
        <router-outlet></router-outlet>
    </div>
</div>
<section class="cv">
    <div class=" container py-5 mt-5 text-center">
        <div>
            <h1 class="px-5">EXPERIENCIA LABORAL</h1>
        </div>
        <hr>
        <div class="row px-5 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="context d-flex flex-column mb-5">
                <p> - EBIZ Latín América - </p>
                <p>02/2024 - 8/2024</p>
                <p class="fw-bold">Ingeniero de Datos</p>
                <ul class="d-flex flex-column gap-3 list-unstyled text-start">
                    <li>-Desarrollé un proceso ETL para centralización de base de datos,
                        utilizando Azure DataFactory.
                    </li>
                    <li>-Lideré un estudio sobre IA Generativa, aplicados en el desarrollo de software.</li>
                    <li>-Desarrollé el proceso de migración de base de datos, PostgreSQL -- SQL Server.</li>
                    <li>-Colaboré en el desarrollo de backend y
                        frontend del proyecto Directorio-Homologación
                        de empresas.</li>
                    <li>-Colaboré en el desarrollo de backend y frontend del proyecto carga masiva de
                        documentos.
                    </li>
                </ul>
            </div>
            <div class="context d-flex flex-column mb-5">
                <p> - Freelancer - </p>
                <p>03/2024 - 06/2024</p>
                <p class="fw-bold">Desarrollador de Software</p>
                <ul class="d-flex flex-column gap-3 list-unstyled text-start">
                    <li>-Lideré el desarrollo de backend y frontend para
                        el sistema de ventas - Licoreía El Vikingo.
                    </li>
                    <li>-Realicé pruebas y despliegue en Digital Ocean.</li>
                    <li>-Realicé el despliegue de manera local.
                    </li>
                    <li>
                        -Se mejoró el control de ventas, cumpliendo
                        con las expectativas del cliente.
                    </li>
                </ul>
            </div>
            <div class="context d-flex flex-column mb-5">
                <p> - Ifurniture - </p>
                <p>04/2023 - 07/2023</p>
                <p class="fw-bold">Pasantía en desarrollo de Software</p>
                <ul class="d-flex flex-column gap-3 list-unstyled text-start">
                    <li>-Implementé pasarela de pago Culqui, para realizar pagos online.
                    </li>
                    <li>-Brindé soporte a la página, creación de mockups para diseños posteriores.</li>
                    <li>-Colaboré en el desarrollo de nuevas funcionalidades de la plataforma
                        de comercio electrónico.
                    </li>
                </ul>
            </div>
            <div class="context d-flex flex-column mb-2">
                <p> - Freelancer Spring Angular - </p>
                <p>02/2024 - 8/2024</p>
                <p class="fw-bold">T&M Tactical</p>
                <ul class="d-flex flex-column gap-3 list-unstyled text-start">
                    <li>-Desarrollé el backend de la plataforma de comercio electrónico para la venta
                        de ropa táctica de la empresa T&M Tactical.
                    </li>
                    <li>-Desarrollé el frontend de la plataforma de comercio electrónico para la venta
                        de ropa táctica de la empresa T&M Tactical.</li>
                        <li>-Realicé pruebas de carga, código, de etrés previo al despliegue.</li>
                    <li>-Realicé el despliegue de la web en un servidor VPS -- Digital Ocean.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="habilidades">
    <div class="container py-5">
        <div class="text-center">
            <h1 class="px-5">HABILIDADES PROFESIONALES LENGUAJES DE PROGRAMACIÓN Y NUBE</h1>
            <h5>Habilidades con lenguajes de programación y nube</h5>
        </div>
        <div class="container contenedor01">
            <hr class="mb-5">
            <div class="row  row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
                <div>
                    <p>JAVA</p><a><i class="fab fa-java"></i></a>
                </div>
                <div>
                    <p>C#</p><a><i class="fa-solid fa-c">#</i></a>
                </div>
                <div>
                    <p>JAVASCRIPT</p><a><i class="fab fa-js"></i></a>
                </div>
                <div>
                    <p>TYPESCRIPT</p><a><i class="fa-solid fa-scroll"></i></a>
                </div>
                <div class="items-end">
                    <p>AZURE</p><a><i class="fa-brands fa-cloudflare"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="habilidades">
    <div class="container py-5">
        <div class="text-center">
            <h1 class="px-5">HABILIDADES PROFESIONALES FRAMEWORKS</h1>
            <h5>Habilidades en Frameworks</h5>
        </div>
        <div class="contenedor01  px-5">
            <hr class="mb-5">
            <div class="row  row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
                <div>
                    <p>SPRING FRAMEWORK</p>
                    <a><i class="fas fa-cogs"></i>
                    </a>
                </div>
                <div>
                    <p>.NET CORE</p>
                    <i class="fa-brands fa-neos"></i>
                </div>
                <div>
                    <p>REACT</p>
                    <i class="fa-brands fa-react"></i>
                </div>
                <div>
                    <p>ANGULAR</p><a><i class="fab fa-angular"></i></a>
                </div>
            </div>
        </div><br><br>
    </div>
</section>
<section class="habilidades">
    <div class="container py-5">
        <div class="text-center">
            <h1 class="px-5">HABILIDADES PROFESIONALES MAQUETACIÓN</h1>
            <h5>Habilidades en Diseño</h5>
        </div>
        <div class="contenedor01 px-5 ">
            <hr class="mb-5">
            <div class="row  row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
                <div>
                    <p>HTML</p>
                    <i class="fa-brands fa-html5"></i>
                </div>
                <div>
                    <p>CSS</p>
                    <i class="fa-brands fa-css3"></i>
                </div>
                <div>
                    <p>FIGMA</p>
                    <i class="fa-brands fa-figma"></i>
                </div>
                <div>
                    <p>ANGULAR MATERIAL</p><i class="fa-solid fa-palette"></i>
                </div>
                <div>
                    <p>MATERIAL UI</p>
                    <mat-icon class="icon">grid_view</mat-icon>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="habilidades pb-5">
    <div class="container py-5">
        <div class="text-center">
            <h1 class="px-5">HABILIDADES PROFESIONALES BD</h1>
            <h5>Habilidades en Base de Datos</h5>
        </div>
        <div class="contenedor01">
            <hr class="mb-5">
            <div class="row  row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
                <div>
                    <p>MYSQL</p>
                    <i class="fa-sharp fa-solid fa-database"></i>
                </div>
                <div>
                    <p>SQL SERVER</p>
                    <i class="fa-solid fa-server"></i>
                </div>
                <div>
                    <p>POSTGRESQL</p>
                    <i class="fa-sharp fa-solid fa-database"></i>
                </div>
            </div>
        </div>
    </div>
</section>