<div class="container-fluid border-top">
  <div class="container-center mt-5 mx-auto">
    <h1 class="text-center  libre-baskerville-regular-italic mt-5">Servicios</h1>
    <p class="text-center">
      Ofrezco servicios de desarrollo de software personalizado, rediseño de interfaces, y diseño de UX/UI
      para crear productos atractivos, funcionales y enfocados en la experiencia del usuario.
    </p>
  </div>
  <div class="container ">
    <hr>
    <div class="row text-center row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col p-2 text-start">
        <i style="color: #d86ffe;" class="fa-regular fa-file-code"></i>
        <h2 class="text-start fw-bold">Desarrollo Web</h2>
        Creo soluciones a medida para satisfacer las necesidades específicas de cada cliente, 
        desde aplicaciones web hasta sistemas empresariales.
      </div>
      <div class="col p-2 text-start">
        <i style="color: #81689D;" class="fa-solid fa-grip"></i>
        <h2 class="text-start fw-bold">Diseño responsive</h2>
        Diseño responsive para asegurar que las aplicaciones y sitios web se adapten perfectamente a 
        cualquier dispositivo, ya sea móvil, tablet o escritorio.
      </div>
      <div class="col p-2 text-start">
        <i style="color: #ff6080;" class="fa-solid fa-pen-nib"></i>
        <h2 class="text-start fw-bold">Rediseño Web</h2>
        Transformo interfaces existentes para mejorar su rendimiento y usabilidad,
         asegurando que la experiencia del usuario sea más intuitiva y atractiva..
      </div>
      <div class="col p-2 mt-3 text-start">
        <i style="color: #FFD0EC;" class="fa-solid fa-wand-magic-sparkles"></i>
        <h2 class="text-start fw-bold">Diseño UI/UX</h2>
        Desarrollo interfaces visuales elegantes y modernas que reflejan la identidad de la marca 
        y mejoran la interacción del usuario con el producto.
      </div>
      <div class="col p-2 mt-3  text-start">
        <i style="color: #474F7A;" class="fa-solid fa-user-secret"></i>
        <h2 class="text-start fw-bold">Asesorías</h2>
        Brindo asesorías personalizadas en programación, adaptadas a tus necesidades y nivel de experiencia.
         Te ayudaré a resolver dudas específicas, optimizar tu código, y mejorar tus habilidades.
      </div>
      <div class="col p-2 mt-3 text-start mb-5">
        <i style="color: #1F2544;" class="fa-solid fa-users-slash"></i>
        <h2 class="text-start fw-bold">Talleres</h2>
        Ofrezco talleres prácticos en programación, donde podrás aprender desde 
        fundamentos de programación hasta el uso de herramientas avanzadas para crear aplicaciones 
        eficientes.
      </div>
    </div>
  </div>
</div>