<div class="container-fluid mt-4 d-flex justify-content-center align-items-center vh-100">
  <div class="card p-3 shadow-lg rounded-4">
    <h2 class="text-center fw-bold mb-1">Servicios</h2>
    <p class="text-center px-5">
      Ofrezco servicios de desarrollo de software personalizado, rediseño de interfaces,
      y diseño de UX/UI, combino tecnología y estrategias de diseño para
      mejorar la usabilidad y satisfacción del cliente.
    </p>
    <hr class="mx-auto w-50" style="border: 2px solid #007bff;">
    <h3 class="text-center fw-bold mb-4">¡Lo que hago!</h3>
    <div class="row g-3">
      <!-- Card Desarrollo Web -->
      <div class="col-md-6">
        <div
          class="card card-custom p-3 text-center h-100 d-flex flex-column align-items-center justify-content-center web-dev-card">
          <div class="icon mb-2">
            <i class="fa-solid fa-file-code"></i>
          </div>
          <h5 class="fw-bold">Desarrollo Web</h5>
          <p>
            Creo soluciones a medida para satisfacer las necesidades
            específicas de cada cliente, desde aplicaciones web hasta sistemas empresariales.
          </p>
        </div>
      </div>
      <!-- Card Aplicaciones móviles -->
      <div class="col-md-6">
        <div
          class="card card-custom p-3 text-center h-100 d-flex flex-column align-items-center justify-content-center mobile-card">
          <div class="icon mb-2">
            <mat-icon>dashboard</mat-icon>
          </div>
          <h5 class="fw-bold">Diseño responsive</h5>
          <p>Diseño responsive para asegurar que las aplicaciones y sitios web se adapten
            perfectamente a cualquier dispositivo, ya sea móvil, tablet o escritorio.
          </p>
        </div>
      </div>
      <!-- Card Fotografía -->
      <div class="col-md-6">
        <div
          class="card card-custom p-3 text-center h-100 d-flex flex-column align-items-center justify-content-center photography-card">
          <div class="icon mb-2">
            <i class="fa-solid fa-pen-fancy"></i>
          </div>
          <h5 class="fw-bold">Rediseño Web</h5>
          <p>Transformo interfaces existentes para mejorar su rendimiento y usabilidad,
            asegurando que la experiencia del usuario sea más intuitiva y atractiva.
          </p>
        </div>
      </div>
      <!-- Card Diseño UI/UX -->
      <div class="col-md-6">
        <div
          class="card card-custom p-3 text-center h-100 d-flex flex-column align-items-center justify-content-center ui-ux-card">
          <div class="icon mb-2">
            <i class="fa-solid fa-sun"></i>
          </div>
          <h5 class="fw-bold">Diseño UI/UX</h5>
          <p>Desarrollo interfaces visuales elegantes y modernas que reflejan la
            identidad de la marca y mejoran la interacción del usuario con el producto.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>