<main class="bg ">
  <section class="bg-image">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-7 mb-5 col-md-7 text-right ">
          <img class="img-fluid rounded-lg shadow" src="assets/img/laptop.jpg" alt="Diseño de páginas web">
        </div>
        <div class="col-md-5 align-self-center">
          <div class="text-left px-4 py-2 text-uppercase main-color">Diseño Web</div>
          <h2 class="text-left mt-5 text-uppercase text-black px-4 b-left font-weight-bold">Diseño de páginas web</h2>
          <p class="text-black text-left mt-5 px-4 ">El diseño de páginas web es un servicio fundamental para cualquier negocio o 
            empresa que quiera tener presencia en línea. El <strong> diseño de una página web </strong> bien 
            estructurada y atractiva puede mejorar la visibilidad y el impacto de tu negocio en la web, 
            aumentando la satisfacción de los usuarios y generando una experiencia positiva.</p>
          <p class="text-black text-left px-4">Si necesitas un increíble diseño para tu <strong>página web</strong> .</p>
          <a href="https://api.whatsapp.com/send?phone=51963006126" 
          
           class="px-4 btn text underline font-weight-bold">
            <i class="fas fa-arrow-left mr-2">
          </i>Más información</a>
        </div>
      </div>
      <div class="row mt-5 mt-5">
        <div class="col-md-5 align-self-center">
          <div class="text-left px-4 text-uppercase main-color">Diseño responsive</div>
          <h2 class="text-left mt-5 text-uppercase text-black px-4 b-left font-weight-bold">Diseño web responsive y adaptable</h2>
          <p class="text-black text-left mt-5 px-4">Diseñamos tu <strong>página web responsive</strong>, adaptable para todo tipo de dispositivos móviles.</p>
          <p class="text-black text-left px-4">El <strong>diseño web responsive</strong> consiste en que la página web esté adaptable dependiendo desde que dispositivo están visualizándola y que no pierda la apariencia de la página.</p>
          <a href="https://api.whatsapp.com/send?phone=51963006126" class="px-4 btn text underline font-weight-bold">Más información<i class="fas fa-arrow-right ml-2"></i></a>
        </div>
        <div class="col-md-7">
          <img class="img-fluid shadow-img" src="assets/img/mockups.png" alt="Diseño web responsive">
        </div>
      </div>
      <div class="row mt-5 ">
        <div class="mb-5 col-md-7 text-right">
          <img src="assets/img/prog.jpg" class="img-fluid rounded-lg shadow" alt="Rediseño de página web">
        </div>
        <div class="col-md-5 align-self-center">
          <div class="text-left px-4 py-2 text-uppercase main-color">Rediseño web</div>
          <h2 class="text-left mt-5 text-uppercase px-4 text-black b-left font-weight-bold">Rediseño web para tu página</h2>
          <p class="mt-5 px-4 text-black">¿Buscas rediseñar tu página web que ya tiene años sin ser actualizada?</p>
          <p class="px-4 text-black">Estamos especializados en el <strong>rediseño de páginas de internet</strong> las cuáles no han tenido mantenimiento, a lo que le ofrecemos un increíble y creativo diseño web moderno.</p>
          <a href="https://api.whatsapp.com/send?phone=51963006126" class="px-4 btn text underline font-weight-bold"><i class="fas fa-arrow-left mr-2"></i>Más información</a>
        </div>
      </div>
    </div>
  </section>
 
</main>