.card {
  max-width: 800px;
  border: none;
}

.card-custom {
  background-color: #f5f9fd;
  border-radius: 15px;
}
.web-dev-card {
  background-color: #fff4f4;
  border-radius: 15px;
}

.card-custom .icon {
  color: #007bff;
  width: 50px;
}

.card-custom h5 {
  color: #333;
}

.card-custom:nth-child(2) .icon {
  color: #ff007a;
}

.card-custom:nth-child(3) .icon {
  color: #ff5722;
}

.card-custom:nth-child(4) .icon {
  color: #4caf50;
}

.card-custom p {
  color: #666;
}

.container-fluid {
  background-color: #e0f7fa;
}

.ui-ux-card .icon {
  color: #d3aee1;
  font-size: 30px;
}
.ui-ux-card  {
  background-color: #ffffff;
  border-radius: 15px;
}

.mobile-card .icon {
  color: #d566ff;
  font-size: 30px;
}

.photography-card .icon {
  font-size: 30px;
  color: #ff6080;
}

.web-dev-card .icon {
  color: #d86ffe;
  font-size: 30px;
}
