.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.container-fluid{
  margin-top: 1cm;
  background: rgb(247, 244, 244);
  color: rgb(72, 70, 70);
  font-family: Courier New;
}

.container-center {
  max-width: 600px; 
  padding: 0 20px; 
}

.text-start i{
  font-size: 30px;
}

