<div class="blog mb-5">
  <figure>
    <img src="assets/img/blog1.jpg" alt="Lights" style="width:100%">
  </figure>
</div>
<section class="pt-2">
  <ng-container>
    <div class="container w-75 mx-auto  mt-3 mb-3">
      <div class="row ">
        <div class="col-md-6 mb-3">
          <div style="position: relative;">
            <div style="position: absolute; top: 200px; left: 50%; transform: translate(-50%, -50%);"
              class="text-center ">
              <span style="margin-left: 3px; color: black;" class="p-2 badge text-bg-success">Despliegue</span>
              <span style="margin-left: 3px; color: black;" class="p-2 badge text-bg-warning">Servidor-VPS</span>
          </div>
          </div>
          <figure>
            <img [routerLink]="'/blog/verPost/1'" style="cursor: pointer;" src="assets/img/laptop.jpg"
              class="card-img-top" alt="No Image">
          </figure>
        </div>
        <div class="col-md-6">
          <h2 class="text-center">Digital Ocean</h2>
          <p>
            <span class="text-muted">Posted </span> 23/02/2024
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi labore illum cupiditate
            numquam fugiat, quas eligendi, excepturi natus
            provident voluptatum consectetur maxime. Asperiores autem expedita tempora natus, impedit in! Error.</p>
          <button class="btn btn-primary">
            <a [routerLink]="'/blog/verPost/1'" class="text-white text-uppercase">Read More</a>
          </button>


        </div>
      </div>
      <div class="row ">
        <div class="col-md-6 mb-3">
          <div style="position: relative;">
            <div style="position: absolute; top: 200px; left: 50%; transform: translate(-50%, -50%);"
              class="text-center ">
              <span style="margin-left: 3px; color: black;" class="p-2 badge text-bg-info">IA Generativa</span>
              <span style="margin-left: 3px; color: black;" class="p-2 badge text-bg-danger">Tecnología</span>
            </div>
          </div>
          <figure>
            <img [routerLink]="'/blog/verPost/1'" style="cursor: pointer;" src="assets/img/laptop.jpg"
              class="card-img-top" alt="No Image">
          </figure>
        </div>
        <div class="col-md-6">
          <h2 class="text-center">IA Generativa</h2>
          <p>
            <span class="text-muted">Posted </span> 10/08/2024
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi labore illum cupiditate
            numquam fugiat, quas eligendi, excepturi natus
            provident voluptatum consectetur maxime. Asperiores autem expedita tempora natus, impedit in! Error.</p>
          <button class="btn btn-primary">
            <a [routerLink]="'/blog/verPost/1'" class="text-white text-uppercase">Read More</a>
          </button>


        </div>
      </div>
    </div>
  </ng-container>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 float-right">
        <div class="card-footer mb-5">
          <app-paginator></app-paginator>
        </div>
      </div>
    </div>
  </div>


</section>