<div class="blog mb-5">
  <figure>
    <img src="assets/img/blog1.jpg" alt="Lights" style="width:100%">
  </figure>
</div>
<section class="pt-2">
  <ng-container *ngIf="posts.length>0">
    <div *ngFor="let item of posts" class="container w-75 mx-auto  mt-3 mb-3">
      <div class="row ">
        <div class="col-md-6 mb-3">
          <div  style="position: relative;" >
            <mat-chip-list style="position: absolute; top: 200px; left: 50%; transform: translate(-50%, -50%);" class="text-center ">
                <h3>
                  <span style="margin-left: 3px; color: black;" *ngFor="let tag of item.etiquetas" 
                   class="badge"[ngClass]="'bg-'+ tag.color">{{tag.nombre}}</span>
                </h3>
            </mat-chip-list>
          </div>

          <figure >
            <img *ngIf="item?.imagen" [routerLink]="'/blog/verPost/'+item.id" style="cursor: pointer;"
              src="http://localhost:8080/api/upload/img/{{item.imagen}}" class="card-img-top" alt="No Image">
          </figure>
          

        </div>
        <div class="col-md-6">
          <h2 class="text-center">{{item.titulo}}</h2>
          <p>
            <span class="text-muted">Posted </span> {{item.fecha | date:'mediumDate'}}
          </p>
          <p [innerHTML]="item.contenido | slice:0:maxCaracteres">{{ item.contenido.length > maxCaracteres ? '...' : ''
            }}</p>
          <button class="btn btn-primary">
            <a [routerLink]="'/blog/verPost/'+item.id" class="text-white text-uppercase">Read More</a>
          </button>


        </div>
      </div>
    </div>
  </ng-container>


  <div class="container">
    <ng-container *ngIf="posts.length==0">
      <mat-list-item>
        <mat-icon mat-list-icon>info</mat-icon>
        <div mat-line>No hay posts</div>
      </mat-list-item>
    </ng-container>


  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 float-right">
        <div class="card-footer mb-5">
          <app-paginator *ngIf="pagination" [pagination]="pagination"></app-paginator>
        </div>
      </div>
    </div>
  </div>


</section>