<div class="container example">
    <div class="hola">
        <div class="p">
            ¡Hola ! 👋🏻
            Soy JHORDAN BRICEÑO
        </div>
        <div class=" desc col-md-6 mb-5">
            <div class="wrapper mt-5">
                <ul class="dinamic-texts mt-3">
                    <li><span>Developer web</span></li>
                    <li><span>Software Engineer</span></li>
                    <li><span>Freelancer</span></li>
                    <li><span>Java Developer</span></li>
                </ul>
            </div>

            <h5 class="saludo">
                BIENVENIDO <span class="purple"> A MI PORTAFOLIO </span>
            </h5>
            <p class=" descripcion">
                "El código limpio es como el buen arte: fácil de entender pero difícil de crear."
                Apasionado por el mundo TI, siempre en busca de nuevos desafíos y oportunidades para
                crecer profesionalmente y contribuir al éxito de las empresas en las que trabajo."
            </p>

        </div>
    </div>

</div>
